@import "~antd/dist/antd.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.wrapper::after {
  content: "";
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
* {
  margin: 0;
  padding: 0;
}
#__next {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
nav {
  height: 8em;
  background-color: #edcd1f;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
}
#logo {
  background-color: #1e2d3b;
  width: 25%;
  display: flex;
  justify-content: center;
}

#logo-mobile {
  background-color: #1e2d3b;
  min-width: 65%;
  max-width: 85%;
  height: 100%;
}
#menu {
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
}

#menu-mobile {
  display: grid;
  grid-template-columns: [first] auto [col2] auto [col3] auto;
  grid-template-rows: [first]40px [line2] 60px;
  height: 100%;
}

#menu-mobile li h1 {
  font-size: 2em;
  color: #edcd1f;
}
#menu-mobile li p {
  font-size: 1.5em;
  color: #edcd1f;
}
.logo-nav {
  top: 10% !important;
  transform: rotateY(180deg);
  min-height: 100%;
}

#menu h1 {
  font-size: 3em;
  color: #edcd1f;
  margin-top: 10%;
  margin-left: 20px;
  margin-bottom: 0;
}

#menu p {
  margin-left: 20px;
  text-align: center;
  font-size: 2em;
  color: #edcd1f;
}

h2 {
  text-align: left;
  margin-bottom: 0;
  font-size: 55px;
}

#presentation {
  /* width: 70%; */
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.button-home {
  width: 5rem;
  margin-right: 20px;
  padding: 0.5rem;
  background: rgb(197, 197, 126);
}
.button-home :hover {
  cursor: pointer;
  background: black;
  width: 25%;
}

.button-discover {
  background: #edcd1f;
  border: 1px solid black;
}
.button-discover:hover {
  color: black;
  opacity: 0.8;
  border: 2px solid #edcd1f;
}
#menu-category {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}
#menu-category li {
  display: inline;
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 0 0;
  line-height: 150px;
  padding: 0 10px;
}

/* .ant-carousel {
  margin-top: 10px;
  background: grey;
  border: 2px solid rgba(255, 255, 255, 0.75);
} */
#tata {
  display: none;
  margin-bottom: 8%;
  position: absolute;
  color: black !important;
}
#tata {
  pointer-events: none;
}
#toto:hover {
  background-color:white;
  opacity: 0.6;
}
#toto {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}
.cardImage {
  border-radius: 7px;
}
/* .cardImage:focus {
  opacity: 0.4;
} */
/* .ant-card-hoverable:hover {
  opacity: 0.4;
} */
.ant-card-hoverable:hover #tata {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  position: inherit;
  margin-top: 25%;
}

.separation {
  background-color: #edcd1f;
  height: 10px;
  width: 120px;
  margin-bottom: 40px !important;
  display: block;
}

.center {
  margin: auto;
  width: 200px;
}

.ant-card-bordered {
  border: 1px solid #edcd1f !important;
  border-radius: 10px !important;
}
.left {
  width: 200px;
}

#apropos {
  width: 50%;
  min-height: 600px;
  background-image: url("https://images.unsplash.com/photo-1580901369227-308f6f40bdeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

footer, .wrapper::after {
  height: 50px;
}

footer {
  position: fixed;
  padding: 25px;
  background-color: #1e2d3b;
  color: #edcd1f;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-top: 10px;
}

footer > a {
  color: white;
}

.cardArticle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* display: grid;
  grid-column-gap: 84px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, 500px); */
  width: 90%;
  min-width: 80%;
  max-width: 95%;
  margin: auto;
}
